body {
  margin: auto;
  padding: auto;
}

header {
  width: 100%;
  height: 60px;
  background-color: white;
  right: 0px;
  padding: 6px;
}

.first-section {
  width: 100%;
  height: 48px;
  background-color: white;
}

.nav-bar {
  width: 253.59px;
  height: 48px;
  background-color: white;
  padding: 0px 4px 0px 32px;
  float: right;
  direction: ltr;
  display: flex;
}

.links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.link-divs {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  background-color: white;
  margin: auto;
  padding: 10px;
}

.icon-boxes {
  margin: auto;
  width: 48px;
  height: 48px;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.profile-pic {
  display: flex;
  flex: 1;
  border-radius: 50%;
  width: 40px;
  margin-top: 5px;
}

#apps-button {
  width: 16px;
  height: 16px;
  margin-top: 16px;
}

.google-section {
  width: 100%;
  height: 30%;
  justify-content: center;
  display: flex;
}

#logo {
  margin-top: 10%;
}

.search-bar {
  width: 480px;
  height: 40px;
  margin: auto;
  background-color: white;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  margin: 10px auto;
  border: 1px solid rgb(196, 196, 196);
}

.buttons-section {
  width: 584px;
  margin: auto;
  padding: auto;
  justify-content: stretch;
  text-align: center;
}

.buttons {
  font-size: 14px;
  font-family: arial, sans-serif;
  border-color: transparent;
  color: #5f6368;
}

.footer {
  background-color: #f2f2f2;
  position: fixed;
  height: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 14px;
  display: flex;
}

.left-part {
  font-family: arial, sans-serif;
  font-size: 14px;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.right-part {
  font-family: arial, sans-serif;
  font-size: 14px;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.footer-single-link {
  margin-left: 10px;
  margin-right: 10px;
  color: #5f6368;
  font-size: 14px;
  font-family: arial, sans-serif;
  text-decoration: none;
}
